# Project exclude paths
/venv/

.idea
.idea/*
*.xml
*.iml
.DS_Store
/data/corpora/aonewsela.txt
/witokit
/witokit/*

/BabyBERTa-1/
/BabyBERTa-2/
/BabyBERTa-3/

babyberta/__pycache__/
SR_classification/__pycache__/
